*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}

.lista{
    color: #fff;
    text-align: center;
    font-size: 50px;
}

.completo{
    display: block;
    width: 33.333%;
    height: 150px;
}

.primeiro{
    background-color: blue;
}

.segundo{
    background-color: blueviolet;
    margin-left: auto;
}

.terceiro{
    background-color: chartreuse;
    margin-left: auto;
    margin-right: auto;
}

