@charset "UTF-8";

* {
    font-family:Arial, Helvetica, sans-serif;
    
}

body{
    
    background-image: linear-gradient(to left, #0013E0, #0C92F7);
}

main{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 8px 8px 15px #020744a6;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #6E0CF7;
    text-align: center;
    text-shadow: 1px 1px 2px #280160df;
}

h2{
    color: #75037fcb;
}

p {
    text-align: justify;
}